

.closeContainer{
    animation: disappear 0.5s ease-out;    
}

.bg{
    /* background-image: linear-gradient(to right,#091F03,#BCE4B2); */
    /* background: rgb(62, 82, 54); */
    background:rgb(50, 100, 50);
}
.bold{
    font-weight: bold;
    
}
.won{
    color: rgb(40, 53, 42);
    font-weight: bold;
}


.score{
    font-size: 0.9rem;
    font-weight: normal;
}

.vnd{
    font-size: 0.8rem;
    font-weight: normal;
}

@keyframes appear {
    0%   { 
        opacity: 0; 
        transform: translate(-100px, -100px);
    }
    100% { opacity: 1; }
}
@keyframes disappear {
    0%   { 
        opacity: 1;
    }
    100%{
        opacity:0;
        transform: translate(-100px, -100px);
    }

}
.loader {
    margin:0 auto;
    border: 10px solid #a3ada3; /* Light grey */
    border-top: 10px solid rgb(94, 122, 83); /* green */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.worldCupA{
    background-color: #e2a92c;
    color:#000000;
}

.worldCupB{
    background-color: #4f9e30;
    color: #ffffff;
}

.worldCupC{
    background-color: #2c59a7;
    color: #ffffff;
}

.worldCupD{
    background-color: #833483;
    color: #ffffff;
}

.worldCupE{
    background-color: #2caca5c7;
    color: #000000;
}

.worldCupF{
    background-color: #971c26;
    color: #ffffff;
}

.worldCupG{
    background-color: #e0d2d5;
    color: #000000;
}
.worldCupH{
    background-color: #def50d;
    color: #000000;
}
.leagueTable{
    width:15px;
    padding-left:3px;
    margin: 1px 1px;
    padding-right:3px;
    text-align: right;
}
a{
    margin-left: 5px;
    color: rgb(87, 69, 56);
    font-size: 0.9em;
}
a:hover{
    color : #b81111;
}
.active-link{
    color: #b81111;
    font-weight: bold;
    font-size: 1.1em;
}