<div class="containerPitch">
  <div class="small-12 medium-12 large-12 columns"><router-outlet name='CompoOutlet'></router-outlet></div>
</div>
<div  class="containerBig">
<div #popup *ngIf="!closed" [ngClass]="{'container2':!closed,'closeContainer':closed}">
  <div *ngIf="mode===1">
    <div *ngIf="matchDaysArr!==null">
      <div class="row listingHeaderWC bg" >
        <div class="small-1 medium-1 large-1 columns boxHeaderWC">Match</div>
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-right"><i class="fa fa-arrow-left clickable" aria-hidden="true" (click)="lastD()"></i></div>
        <div class="small-3 medium-3 large-3 columns databox text-center" >
          <label>
            <select  class="small medium large" name="matchday" [ngModel]="matchday" (ngModelChange)="onChangeMatchDay($event)" >
              <option  [selected]="!matchday">JOURNEE</option>
              <option *ngFor="let v of matchDaysArr" [value]="v" [selected]="matchday==v">{{v}}eme journee</option>
            </select>
          </label>
        </div>
        <div class="small-2 medium-2 large-2 columns databox text-center">
          <label>
            <select class="small" name="group" [ngModel]="group" (ngModelChange)="onChangeGroup($event)" >
              <option value="Gr" >Gr</option>
              <option value="A" [selected]="group=='A'">A</option>
              <option value="B" [selected]="group=='B'">B</option>
              <option value="C" [selected]="group=='C'">C</option>
              <option value="D" [selected]="group=='D'">D</option>
              <option value="E" [selected]="group=='E'">E</option>
              <option value="F" [selected]="group=='F'">F</option>
              <option value="G" [selected]="group=='G'">G</option>
              <option value="H" [selected]="group=='H'">H</option>
            </select>
          </label>
        </div>
          
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-left"><i class="fa fa-arrow-right clickable" aria-hidden="true" (click)="nextD()"></i></div>
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-left">Etat</div>
        <div class="small-2 medium-2 large-2 columns boxHeaderWC text-right">Date</div>
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-left">&nbsp;</div>
      </div>
      <div *ngIf="!loaded" class="row listing"  >
          <div class="small-4 medium-4 large-4  columns">&nbsp;</div>
          <div class="small-4 medium-4 large-4  columns text-center"><div class="loader"></div></div>
          <div class="small-4 medium-4 large-4  columns">&nbsp;</div>
      </div>
      <div *ngFor="let obj of filterRes">
        <div class="row listingWC "  
        [ngStyle]="{'color': getStyle(getGroup(obj.homeTeamId))?.color,
        'background-color': getStyle(getGroup(obj.homeTeamId))?.background }" >
          <div class="small-3 medium-3 large-3 columns databoxWC score">
              <span [ngClass]="{'bold won' : obj.result.goalsHomeTeam > obj.result.goalsAwayTeam}"><a [routerLink]="[{outlets:{CompoOutlet:['team',obj.homeTeamId,id]}}]" routerLinkActive='active-link'>{{obj.homeTeamName}}</a></span></div>
          <div class="small-2 medium-2 large-2 columns databoxWC text-left bold">
              <a [routerLink]="[{outlets:{CompoOutlet:['compo',obj.id,obj.awayTeamId,obj.homeTeamId]}}]" routerLinkActive='active-link'>{{obj.result.goalsHomeTeam}}-{{obj.result.goalsAwayTeam}}</a></div>
          <!-- <div class="small-2 medium-2 large-2 columns databox text-left bold"><a (click)='openPitchCompo(obj.id)' >{{obj.result.goalsHomeTeam}}-{{obj.result.goalsAwayTeam}}</a></div> -->
          <div class="small-3 medium-3 large-3  columns databoxWC score">
            <span [ngClass]="{'bold won' : obj.result.goalsHomeTeam < obj.result.goalsAwayTeam}"><a [routerLink]="[{outlets:{CompoOutlet:['team',obj.awayTeamId,id]}}]" routerLinkActive='active-link'>{{obj.awayTeamName}}</a></span></div>
          <div *ngIf="group!=='Gr'" class="small-1 medium-1 large-1 columns databoxWC text-left ">
                  {{getStatus(obj.status)}}
          </div>
          <div *ngIf="group==='Gr'" class="small-1 medium-1 large-1 columns databoxWC text-left ">
              {{getGroup(obj.homeTeamId)}}
          </div>
          <div class="small-2 medium-2 large-2 columns databoxWC text-right">
            {{obj.date|date:'dd/MM'}}</div>
          <div class="small-1 medium-1 large-1 columns databoxWC text-left">
            {{obj.date|date:'HH:mm'}}</div>
      </div> 
    </div>
      <div class="row listingFooterWC">
        <div class="small-1 medium-1 large-1 columns boxFooter margTop"><img src="assets/icones/FIFA_World_Cup_2018_Logo.png" width="20px" height="24px"  alt=""></div>
        <div class="small-6 medium-6 large-6 columns boxFooter groupFooter text-left bold "> COUPE DU MONDE 2018</div>
        <div class="small-3 medium-3 large-3 columns boxFooter text-right">
          <button class="button secondary medium margRight margTop" (click)="tableLeagueClicked()" ><span class="	glyphicon glyphicon-sort-by-order"></span> Classement</button>
        </div>
        <div class="small-2 medium-2 large-2 columns boxFooter text-right">
          <button class="button secondary medium margRight margTop" (click)="close()" ><span class="	glyphicon glyphicon-remove"></span> Close</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mode===0">
    <div *ngIf="homeMadeTable!==null">
      <div class="row listingHeader bg" >
        <div class="small-4 medium-4 large-4 columns boxHeaderWC text-left" >Classement</div> 
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-right">Pts</div>
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-right">J</div>
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-right">G</div>
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-right">N</div>
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-right">P</div>
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-right">p.</div>
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-right">c.</div>
        <div class="small-1 medium-1 large-1 columns boxHeaderWC text-right">Diff</div>
      </div>
      <div *ngIf="!loaded" class="row listing"  >
          <div class="small-4 medium-4 large-4  columns">&nbsp;</div>
          <div class="small-4 medium-4 large-4  columns text-center"><div class="loader"></div></div>
          <div class="small-4 medium-4 large-4  columns">&nbsp;</div>
      </div>
      <div *ngFor="let obj of homeMadeTable">
        <div class="row listingWC" [ngStyle]="{'color': getStyle(getGroup(obj.teamId))?.color,
        'background-color': getStyle(getGroup(obj.teamId))?.background }" >
            <div class="small-1 medium-1 large-1 columns databoxWC text-left">{{obj.rank}}</div>
            <div class="small-3 medium-3 large-3 columns databoxWC text-left"><a [routerLink]="[{outlets:{CompoOutlet:['team',obj.teamId,id]}}]" routerLinkActive='active-link'>{{obj.team}}</a></div>
            <div class="small-1 medium-1 large-1 columns databoxWC text-right fbold score">{{obj?.points}}</div>
            <div class="small-1 medium-1 large-1 columns databoxWC text-right">{{obj.playedGames}}</div>
            <div class="small-1 medium-1 large-1 columns databoxWC text-right fbold score">{{obj.won}}</div>
            <div class="small-1 medium-1 large-1 columns databoxWC text-right fbold score">{{obj.nulls}}</div>
            <div class="small-1 medium-1 large-1 columns databoxWC text-right fbold score">{{obj.lost}}</div>
            <div class="small-1 medium-1 large-1 columns databoxWC text-right">{{obj.goals}}</div>
            <div class="small-1 medium-1 large-1 columns databoxWC text-right">{{obj.goalsAgainst}}</div>
            <div class="small-1 medium-1 large-1 columns databoxWC text-right">{{obj.goalDifference}}</div>
        </div>
      </div>
    
      <div class="row listingFooterWC">
        <div class="small-1 medium-1 large-1 columns boxFooter margTop"><img src="assets/icones/FIFA_World_Cup_2018_Logo.png" width="20px" height="24px"  alt=""></div>
        <div class="small-2 medium-2 large-2  columns groupFooter text-right">Groupe</div>
        <div class="small-3 medium-3 large-3  columns boxFooter margTop">
          <label>
            <select class="small grpSel" name="group" [ngModel]="group" (ngModelChange)="onChangeGroup($event);buildTable()" >
              <option value="Gr" >Groupe</option>
              <option value="A" [selected]="group=='A'">A</option>
              <option value="B" [selected]="group=='B'">B</option>
              <option value="C" [selected]="group=='C'">C</option>
              <option value="D" [selected]="group=='D'">D</option>
              <option value="E" [selected]="group=='E'">E</option>
              <option value="F" [selected]="group=='F'">F</option>
              <option value="G" [selected]="group=='G'">G</option>
              <option value="H" [selected]="group=='H'">H</option>
            </select>
          </label>
        </div>
        <div class="small-1 medium-1 large-1  columns boxFooter"></div>
        <div class="small-3 medium-3 large-3 columns boxFooter text-right">
            <button class="button secondary medium margRight margTop" (click)="resultsClicked()" ><span class="	glyphicon glyphicon-sort-by-order"></span> Resultats</button>
          </div>
          <div class="small-2 medium-2 large-2 columns boxFooter text-right">
            <button class="button secondary medium margRight margTop" (click)="close()" ><span class="	glyphicon glyphicon-remove"></span> Close</button>
          </div>
      </div>
    </div>
  </div>
</div>

</div>
