<div class="container" *ngIf="userSrv.getRole()!=='admin'">
  <div class="row listingHeader" >
    <!-- <div class="large-3 columns boxHeader">Id</div> -->
    <div class="small-2 columns boxHeader">Login</div>
    <div class="small-4 columns boxHeader">Email</div>
    <div class="small-2 columns boxHeader">Role</div>
    <div class="small-4 columns boxHeader text-right">Actions</div>
  </div>
  <div class="row listing" *ngFor="let obj of allUsers" >
    <!-- <div class="large-3 columns databox">{{obj._id}}</div> -->
    <div class="small-2 columns databox">&nbsp;{{obj.username|firstToUpper}}</div>
    <div class="small-4 columns databox">{{obj.email}}</div>
    <div class="small-2 columns databox">{{obj.role|firstToUpper}}</div>
    <div class="small-4 columns text-right" *ngIf='userSrv.getConnectedUser()===obj.username'><span title="Mettre à jour" class="glyphicon glyphicon-pencil clickable list-icon brown" (click)="update(obj)"></span></div>
    <div class="small-4 columns text-right" *ngIf='userSrv.getConnectedUser()!==obj.username'></div>
  </div>
  <div class="row listingFooter">
    <div class="small-5 columns boxFooter">
      <button class="button secondary small" (click)="refreshUsers()" ><span class="	glyphicon glyphicon-refresh"></span> Refresh</button>
    </div>
    <div class="small-7 columns boxFooter">
    </div>
  </div>
  <div class="container" *ngIf="editMode">
    <form [formGroup]="rForm" >
        <div class="row listingHeader">
          <div class="small-12 columns">
            {{formTitle}} <span class="right clickable glyphicon glyphicon-remove" (click)="closeForm()"></span>
          </div>
        </div>
        <div class="row listing">
          <div class="small-12 columns">
            <!-- <label> -->
              <!-- <span class="form-label fbold">User Login</span>  -->
              <input type="hidden" formControlName="_id"><input type="text" formControlName="username" placeholder="User Login">
            <!-- </label> -->
          </div>
        </div>  
          <!-- <div class="alert" *ngIf="!rForm.controls['login'].valid && rForm.controls['login'].touched">
          </div> -->
        <div class="row listing">
          <div class="small-12 columns">
          <!-- <label>
            <span class="form-label fbold"> Password </span> -->
            <input type="password" formControlName="password" placeholder="Password"> 
          <!-- </label> -->
          </div>
        </div>
          <!-- <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
            {{rForm.controls['password'].msgErr}}
            
          </div> -->
        <div class="row listing">
          <div class="small-12 columns">
          <!-- <label>
            <span class="form-label fbold"> Email </span> -->
            <input type="text" formControlName="email" placeholder="email" >
          <!-- </label> -->
          </div>
        </div>
        <div class="row listing">
        </div>
        <div class="row listing">
          <div class="small-12 columns">
          <input type="submit" class="button secondary small" value="Valider" [disabled]="!rForm.valid" (click)="onValidate()">
            <!-- <div class="alert" *ngIf="!rForm.valid && rForm.controls['login'].touched && rForm.controls['password'].touched">
              utilisateur ou password invalides
            </div> -->
          </div>
        </div>
    </form>
  </div>
</div>

<div class="container" *ngIf="userRole==='admin'">
  <p>
    <br>
    <!-- Bienvenue <span class="info">{{userConnected|firstToUpper}}</span>,
    <br/> tu es connecté avec un role: <span class="info">{{userRole|firstToUpper}}</span> -->
  </p>
  <div class="row listingHeader" >
    <!-- <div class="large-3 columns boxHeader">Id</div> -->
    <div class="small-2 columns boxHeader">Login</div>
    <div class="small-4 columns boxHeader">Email</div>
    <div class="small-2 columns boxHeader">Role</div>
    <div class="small-4 columns boxHeader text-right">Actions</div>
  </div>
  <div class="row listing" *ngFor="let obj of allUsers" >
    <!-- <div class="large-3 columns databox">{{obj._id}}</div> -->
    <div class="small-2 columns databox">&nbsp;{{obj.username|firstToUpper}}</div>
    <div class="small-4 columns databox">{{obj.email}}</div>
    <div class="small-2 columns databox">{{obj.role|firstToUpper}}</div>
    <div class="small-4 columns text-right"><span title="Supprimer" class="glyphicon glyphicon-remove clickable list-icon red" (click)="delete(obj)"></span>&nbsp;&nbsp;&nbsp;<span title="Mettre à jour" class="glyphicon glyphicon-pencil clickable list-icon brown" (click)="update(obj)"></span></div>
  </div>
  <div class="row listingFooter">
    <div class="small-5 columns boxFooter">
      <button class="button secondary small" (click)="addUser()" ><span class="	glyphicon glyphicon-plus"></span> Add new</button>
      <button class="button secondary small" (click)="refreshUsers()" ><span class="	glyphicon glyphicon-refresh"></span> Refresh</button>
    </div>
    <div class="small-7 columns boxFooter">
    </div>
  </div>
  <div class="container" *ngIf="editMode">
    <form [formGroup]="rForm" >
        <div class="row listingHeader">
          <div class="small-12 columns">
            {{formTitle}} <span class="right clickable glyphicon glyphicon-remove" (click)="closeForm()"></span>
          </div>
        </div>
        <div class="row listing">
          <div class="small-12 columns">
            <!-- <label> -->
              <!-- <span class="form-label fbold">User Login</span>  -->
              <input type="hidden" formControlName="_id"><input type="text" formControlName="username" placeholder="User Login">
            <!-- </label> -->
          </div>
        </div>  
          <!-- <div class="alert" *ngIf="!rForm.controls['login'].valid && rForm.controls['login'].touched">
          </div> -->
        <div class="row listing">
          <div class="small-12 columns">
          <!-- <label>
            <span class="form-label fbold"> Password </span> -->
            <input type="password" formControlName="password" placeholder="Password"> 
          <!-- </label> -->
          </div>
        </div>
          <!-- <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
            {{rForm.controls['password'].msgErr}}
            
          </div> -->
        <div class="row listing">
          <div class="small-12 columns">
          <!-- <label>
            <span class="form-label fbold"> Email </span> -->
            <input type="text" formControlName="email" placeholder="email" >
          <!-- </label> -->
          </div>
        </div>
        <div class="row listing">
          <div class="small-12 columns">
          <!-- <label>
            <span class="form-label fbold"> Role </span> -->
            <select formControlName="role" class="small">
                <option value="" [selected]="editedUser===null" >Choix du role</option>
                <option value="admin" [selected]="editedUser && editedUser.role==='admin'">Admin</option>
                <option value="user" [selected]="editedUser && editedUser.role==='user'">User</option>    
            </select>
            <!-- <input type="text" formControlName="role" placeholder="role"> -->
          <!-- </label> -->
           </div>
        </div>
        <div class="row listing">
          <div class="small-12 columns">
          <input type="submit" class="button secondary small" value="Valider" [disabled]="!rForm.valid" (click)="onValidate()">
            <!-- <div class="alert" *ngIf="!rForm.valid && rForm.controls['login'].touched && rForm.controls['password'].touched">
              utilisateur ou password invalides
            </div> -->
          </div>
        </div>
    </form>
  </div>
  <!-- <div *ngIf="displayTime">Nous sommes le {{timer.time | date: 'dd/MM/y HH:mm:ss' }}</div> -->
</div>
<div class="container">
    <div class="row listingHeader">
        <div class="small-12 medium-12 large-12 columns boxHeader">
          Utilisateurs connectés
        </div>
    </div>
    <div class="row listing" *ngFor="let usr of userSrv.connected">
        <div class="small-12 medium-12 large-12 columns databox">
          {{usr}}
        </div>
    </div>
</div>
