
.loader {
    margin:0 auto;
    border: 10px solid #a3ada3; /* Light grey */
    border-top: 10px solid rgb(94, 122, 83); /* green */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.worldCupLabel {
    font-weight: bolder;
    font-size: 1.5em;
    background-color: rgb(194, 181, 61);
    color: rgb(11, 31, 11);
}
.wc_active-link {
    font-weight: bolder;
    font-size: 1.5em;   
    color: rgb(11, 31, 11);
}
a{
    margin-left: 5px;
    color: rgb(29, 90, 29);
    font-size: 0.9em;
}
a:hover{
    color : #021a01;
}
.active-link{
    color: #053213;
    font-weight: bold;
    font-size: 1.1em;
}