/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url("assets/font-awesome-4.7.0/css/font-awesome.min.css");



/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { 
    
}

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { }

/*------------------------------------------
 Foundation Media Queries 
  http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */
@media only screen { } /* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
    .live{
        display: inline-block;
        padding: 0px 2px 0px 5px;
        font-family: muli;
        z-index: 100;
        top: 64px;
        color: #fff;
        border-style: solid;
        width:80%;
        border-width: 0px 1px 1px 1px;
        border-color: #555555;
        right: 0%;
        max-height: 20%;
        overflow: auto;
        position:fixed;
        background-color: #0f0606;
        font-size: 0.7em;
        font-weight: normal;
        opacity: 0.8;
    }
    .liveHeader{
        display: inline-block;
        padding: 0px 2px 0px 2px;
        font-family: muli;
        z-index: 100;
        top: 35px;
        color: #fff;
        border-style: solid;
        width:80%;
        border-width: 1px 1px 0px 1px;
        border-color: #555555;
        right: 0%;
        overflow: visible;
        position:fixed;
        background-color: #0f0606;
        font-size: 0.7em;
        font-weight: normal;
        opacity: 0.8;
    }
    .containerCompo{
        position: absolute;
        top: 50px;
        padding-top: 0px;
        width:100%;
        font-size: 0.8em;
        color: rgb(27, 54, 20);
        margin: 0 auto;
    }
    .container{
        padding-top: 0px;
        width:100%;
        font-size: 0.8em;
        color: rgb(27, 54, 20);
        margin: 0 auto;
    }
    .notif{
        display: inline-block;
        z-index: 100;
        bottom: 0.0%;
        border-style: solid;
        border-width: 1px;
        border-color: #555555;
        width:70%;
        left: 25%;
        position:fixed;
        background-color: #ffffff;
        font-size: 0.9em;
        font-weight:bold;
        font-style: italic;
        animation: 2s moveAnim forwards;
    }
    .container2{
        margin: 0 auto;
        left:0;
        right:0; 
        width:100%;
        max-width: 100%;
        padding-top: 0px;
        font-size: 0.8em;
        color: rgb(27, 54, 20);
        -webkit-box-shadow: 10px 10px 5px 1px rgba(24,33,19,0.65);
        -moz-box-shadow: 10px 10px 5px 1px rgba(24,33,19,0.65);
        box-shadow: 10px 10px 5px 1px rgba(24,33,19,0.65);
        animation: appear 0.5s ease-out;
        /* background-image: linear-gradient(to right,#091F03,#BCE4B2); */
    }
    .containerBig{
        position: absolute;
        margin:  auto;
        top: 90px;
        width:90%;
        left:0;
        right:0;
    }
    .containerPitch{
        position: absolute;
        margin:  auto;
        top: 50px;
        width:100%;
        z-index:80;
        left:0;
        right:0;
    }
    @keyframes alertAnim{
        from{
            opacity: 0;
            transform: translateY(100px);
        }
        to{
            opacity: 1;
            transform: translateY(-40px);
        }
    }
    
    @keyframes moveAnim{
        0%{
            opacity: 1;
            position:fixed;
            bottom:   0%;
            left: 25%;
        }
        50%{
            opacity:0.8;
            position:fixed;
            bottom: 5%;
            left: 25%;
        } 
        /* 55%{
            opacity:0.8;
            position:fixed;
            top: 10.0%;
            left: 37%;
        }  */
        100%{
            opacity: 0.6;
            position: fixed;
            bottom: 0.0%;
            left: 25%;
        }
    }
 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) { 
    .live{
        display: inline-block;
        padding: 0px 2px 0px 5px;
        font-family: muli;
        z-index: 100;
        top: 25px;;
        color: #fff;
        border-style: solid;
        width:30%;
        border-width: 0px 1px 1px 1px;
        border-color: #555555;
        right: 0%;
        max-height: 90%;
        overflow: auto;
        position:fixed;
        background-color: #0f0606;
        font-size: 0.7em;
        font-weight: normal;
        opacity: 0.8;
    }
    .liveHeader{
        display: inline-block;
        padding: 0px 2px 0px 2px;
        font-family: muli;
        z-index: 100;
        top: 0%;
        color: #fff;
        border-style: solid;
        width:30%;
        border-width: 1px 1px 0px 1px;
        border-color: #555555;
        right: 0%;
        max-height: 40%;
        overflow: visible;
        position:fixed;
        background-color: #0f0606;
        font-size: 0.7em;
        font-weight: normal;
        opacity: 0.8;
    }
    .container{
        padding-top: 0px;
        width:60%;
        font-size: 0.8em;
        color: rgb(27, 54, 20);
        margin: 0 auto;
    }
    .containerCompo{
        position: absolute;
        top: 50px;
        padding-top: 0px;
        width:60%;
        font-size: 0.8em;
        color: rgb(27, 54, 20);
        margin: 0 auto;
    }
    /* .containerRight{
        position: absolute;
        top: 0px;
        padding-top: 0px;
        width:60%;
        font-size: 0.8em;
        color: rgb(27, 54, 20);
        margin: 0 auto;
    } */
    .notif{
        display: inline-block;
        z-index: 100;
        bottom: 0.0%;
        border-style: solid;
        border-width: 1px;
        border-color: #555555;
        left: 37%;
        width:30%;
        position:fixed;
        background-color: #ffffff;
        font-size: 0.9em;
        font-weight:bold;
        font-style: italic;
        animation: 2s moveAnim forwards;
    }
    .container2{
        margin: 0 auto;
        left:0;
        right:0; 
        /* width:60%; */
        max-width: 100%;
        padding-top: 0px;
        font-size: 0.8em;
        color: rgb(27, 54, 20);
        -webkit-box-shadow: 10px 10px 5px 1px rgba(24,33,19,0.65);
        -moz-box-shadow: 10px 10px 5px 1px rgba(24,33,19,0.65);
        box-shadow: 10px 10px 5px 1px rgba(24,33,19,0.65);
        animation: appear 0.5s ease-out;
        /* background-image: linear-gradient(to right,#091F03,#BCE4B2); */
    }
    .containerPitch{
        position: absolute;
        margin:  auto;
        top: 50px;
        width:90%;
        z-index:5;
        left:0;
        right:0;
    }
    .containerBig{
        position: absolute;
        margin:  auto;
        top: 90px;
        width:38%;
        left:0;
        right:0;
    }
    @keyframes alertAnim{
        from{
            opacity: 0;
            transform: translateY(100px);
        }
        to{
            opacity: 1;
            transform: translateY(-40px);
        }
    }
    
    @keyframes moveAnim{
        0%{
            opacity: 1;
            position:fixed;
            bottom:   0%;
            left: 37%;
        }
        50%{
            opacity:0.8;
            position:fixed;
            bottom: 5%;
            left: 37%;
        } 
        /* 55%{
            opacity:0.8;
            position:fixed;
            top: 10.0%;
            left: 37%;
        }  */
        100%{
            opacity: 0.6;
            position: fixed;
            bottom: 0.0%;
            left: 37%;
        }
    }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */

/*------------------------------------------*/



/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}


.test{
    
    background-color: rgb(18, 53, 9);
    color:rgb(0, 0, 0);
    color:rgb(191, 191, 191);
    color:rgb(255, 255, 255);
}

/*------------------------------------------
 Live demo samples
  - http://andrelion.github.io/mediaquery/livedemo.html
--------------------------------------------*/
body{
    background-image: linear-gradient(to right,#091F03,#BCE4B2);
    font-family: 'Muli', sans-serif;
    color: #091F03;
}
.form-container{
    display: block;
    width: 70%;
    padding: 2em;
    margin: 2em auto;
    background: #fff;
}

/* .container{
    padding-top: 0px;
    font-size: 0.8em;
    
    
} */
.mini{
    height:20%;
    width:100%;
    text-align: center;
}
.alert{
    display: inline-block;
    padding: 7px;
    color: #fff;
    margin-bottom: 20px;
    background-color: #FE642E;
    font-size: .9em;
    font-style: italic;
    animation: 10s alertAnim forwards;
}



/* .live{
    display: inline-block;
    padding: 0px 2px 0px 2px;
    font-family: muli;
    z-index: 100;
    top: 0%;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #555555;
    right: 0%;
    max-height: 90%;
    overflow: auto;
    position:fixed;
    background: #0f0606;
    font-size: 0.7em;
    font-weight: normal;
    opacity: 0.8;
} */

.centerpad{
    padding: 5px 0px 5px 0px;
    vertical-align: center;
}

.ftitle{
    font-weight: bold;
    color: #ff0000;
    font-size: 1.2rem;
    font-family: muli;
}
.success-msg{
    margin-top: 8px;
    color: #5555A0;
}
.info-msg{
    margin-top: 8px;
    color: rgb(26, 26, 111);
    font-size: 1.5em;
    font-weight: bold;
}
.success{
    font-size:2.4em;
    font-weight:bold;
    color:green;
    padding-bottom: 5px;
    padding-top: 5px;
}
.info{
    font-size:2.4em;
    font-weight:bold;
    color:blue;
    padding-bottom: 5px;
    padding-top: 5px;
}
.warn{
    font-size:2.4em;
    font-weight:bold;
    color:red;
    padding-bottom: 5px;
    padding-top: 5px;
}
.warn-msg{
    color: #FE642E;
     margin-top: 8px;
}

.centerAlt {
    display: block;
    margin-top: 10px;
    text-align: center;
}
.form-label{
    float:left;
}

.liveScores{
    color:rgb(241, 221, 183);
    font-weight: bold;
}
.mybutton{
    margin-top:1.5rem;
    width:100%;
    background-color: #5555A0;
    height:3em;
    font-size: 1em;
    padding: 5px;
    border: 1px solid #999999;
    color:#fff;
}
.fbold{
    font-weight : bold;
}


p{
    /* margin-top : 20px; */
    
    margin-left : 20px;
    font-weight: normal;
    color:#3573C6;
}
.close{
    font-size:1.4em;
    font-weight:bold;
    cursor: pointer; 
    color:#555555;
    padding-right: 1px;
    /* padding-top: 2px; */
}
.close_live{
    font-size:1.4em;
    font-weight:bold;
    cursor: pointer; 
    color:#fff;
    padding-right: 1px;
    /* padding-top: 2px; */
}
.mybutton:hover{
    cursor: pointer;
}
.mybutton[disabled]{
  border: 1px solid #999999;
  background-color: #666666;
  color: #cccccc;
  cursor: not-allowed;
}
h2 {
    margin-bottom: 1rem;
    padding: 20px;
    background-image: linear-gradient(to right,#091F03,#BCE4B2);
    color : #fff;
    text-align: center;
    /* font-weight: bold; */
    font-family: Muli;
    font-size: 1.2em;
}
h1 {
    font-family: Muli;
    font-size: 1.2em;
}

.listing{
    
    background-color: #a9b6a7;
    opacity: 1;
    padding: 5px 10px 5px 5px;
    font-size: 0.9em;
    border-color: rgb(103, 118, 105);
    border-top-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    /* font-weight : bold;  */
}
.listingWC{
    opacity: 1;
    background-color:#8b8b79;
    padding: 5px 10px 5px 5px;
    font-size: 0.9em;
    border-color: rgb(103, 118, 105);
    border-top-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
   
    /* font-weight : bold;  */
}
.listingHeader{
    margin-top:2%;
    /* background: rgb(38, 46, 35); */
    /* background:rgb(62, 82, 54); */
    background-color:rgb(50, 100, 50);
    opacity: 1;
    padding: 10px 5px 10px 5px;
    font-size: 1.0em;
    border-color: rgb(103, 118, 105);
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-style: solid;
    font-weight : bold;
}
.listingHeaderWC{
    margin-top:2%;
    /* background: rgb(38, 46, 35); */
    /* background:rgb(62, 82, 54); */
    background-color:rgb(50, 100, 50);
    opacity: 1;
    padding: 10px 5px 10px 5px;
    font-size: 1.0em;
    border-color: rgb(103, 118, 105);
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-style: solid;
    font-weight : bold;
}

.listingGroupHeader{
    background-color:rgb(81, 128, 81);
    opacity: 1;
    padding: 10px 5px 10px 5px;
    font-size: 1.0em;
    border-color: rgb(103, 118, 105);
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-style: solid;
    font-weight : bold;
}
.listingFooter{
    background-color: rgb(149, 175, 140); 
    /* background: rgb(121, 92, 138);  */
    opacity: 1;
    padding: 10px 5px 10px 5x;
    font-size: 1.0em;
    /* font-size: 1.5em; */
    border-color: rgb(103, 118, 105);
    border-top-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    font-weight : bold;
}
.listingFooterWC{
    background-color: rgb(199, 198, 141); 
    /* background: rgb(121, 92, 138);  */
    opacity: 1;
    padding: 10px 5px 10px 5x;
    font-size: 1.0em;
    /* font-size: 1.5em; */
    border-color: rgb(103, 118, 105);
    border-top-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    font-weight : bold;
}
.margRight{
    margin-right: 5px;
}
.margLeft{
    margin-right: 7px;
}
.margTop{
    margin-top: 7px;
}
.boxHeader{
   /* border-color: rgb(103, 118, 105); */
   /* color:rgb(67, 122, 52); */
   font-size: 1.0rem;
   color: rgb(204, 223, 206);
   
}
.boxHeaderWC{
    /* border-color: rgb(103, 118, 105); */
    /* color:rgb(67, 122, 52); */
    font-size: 1.0rem;
    color: rgb(13, 17, 13);
    
 }
.groupFooter{
    padding: 3px 0px 0px 5px; 
    color: rgb(44, 36, 11);
    margin-top: 10px;
    font-weight:bold;
    font-size: 1.3rem;
}
.boxFooter{
    padding: 3px 0px 0px 5px;
    color: rgb(44, 36, 11);
}
.list-icon{
    font-size:1.7rem;
}
.red{
    color: rgb(128, 26, 48);
}

.brown{
    color: rgb(41, 24, 2);
}
.clickable{
    cursor: pointer;
}
.right{
    float: right;
}
.databox{
    font-size: 0.9em;
    color:rgb(21, 71, 7);
}
.databoxWC{
    font-size: 0.9em;
    background: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}
li .timer {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 8px 5px 0px 50px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(19, 18, 18);
}

li.dropdown {
    display: inline-block;
}
.team{
    padding-top: 15px;
    padding-bottom: 15px;
    height:70px;
    /* padding-bottom: 11px; */
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #091F03;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu input{
    margin-top: -5px !important;
    height: 20px !important;
    width: 100px;
}